<div class="cl-element cl-element_compact c-task c-task_compact">
  <div class="cl-element-body">
    <div class="cl-row">
      <div class="cl-row-header"></div>
      <div class="cl-row-content">
        {{task.content}}
      </div>
    </div>
  </div>
</div>
