{{#each teams as |team|}}
  <div class="element-body-task" style="position: static">
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">№ бригады:</span>
      {{team.index}}
    </div>
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Начало смены:</span>
      {{getTimeString team.shiftStart 'not-full' 'UTC'}}
    </div>
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Окончаение смены:</span>
      {{getTimeString team.shiftEnd 'not-full' 'UTC'}}
    </div>
  </div>
{{/each}}
