<div class="custom-form-header-errors {{getErrorsStyle errors}}">
    {{#each errors as |error|}}
        <div class="custom-form-header-errors__element">
            {{error.content}}
        </div>
    {{/each}}
</div>