<td class="element-body__cell">
    {{hour}}:00
</td>
<td class="element-body__cell query-hour-{{hour}}"
    data-name="{{getDateForm date}}">
        {{#each taskList as |task|}}
            {{form-task comment='Это выбранные'
                        taskClass="element-body-task_resize"
                        dayId=dayId
                        endHour=endHour
                        currentHour=hour
                        tasks=(getTask task
                                       task.dateStart
                                       currentDate
                                       hour)
                        free=false}}
        {{/each}}
</td>
