{{#link-to 'timetable' class="custom-icon__container"}}
  <div class="custom-icon custom-icon_timetable"></div>
  <div class="custom-icon__text">{{ t "forms.application.sitemap.timetable.caption" }}</div>
{{/link-to}}